<%- include ('partials/_header') %>

    <div class="container_contactos">
        <div class="informacion">
            <div class="card">
                <div class="card-header">
                    Rv Importaciones 
                </div>
    
                <div class="card-body">
                    <h5 class="card-title">Formulario de contacto</h5>
    
                    <form action="#" class="formulario">
    
                        <label for="cliente">Nombre del Cliente</label><br>
                        <input type="text" id="cliente" placeholder="Ingresar Nombre Completo">
                        <br><br>
    
                        <label for="contenido">¿En qué podemos ayudarte?</label><br>
                        <textarea id="contenido" class="form-control"></textarea>
    
                        <br>
                        <div class="boton">
                            <button id="submit" class="btn btn-primary">
                                <i class="bi bi-send-check-fill"></i>   
                            </button>
                        </div>
                    </form> 
                    <script src="js/form.js"></script>
                </div>
            </div>
        </div>
        
        <div class="ubicacion">
            <img src="/img/ubc1.png">
        </div>

</div>
    

<%- include ('partials/_footer') %>