<%- include ('partials/_header') %>
<div class="__container">

  <div class="widget-1">

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner">
        <a href="/laptops#nuevas">

          <div class="carousel-item active">
            <img src="/img/nuevas/30.png" class="img-thumbnail">
          </div>

          <div class="carousel-item ">
            <img src="/img/nuevas/31.png" class="img-thumbnail">
          </div>

          <div class="carousel-item">
            <img src="/img/nuevas/32.png" class="img-thumbnail">
          </div>
          
        </a>
        <a href="/laptops#dell">

          <div class="carousel-item">
            <img src="/img/dell/4.png" class="img-thumbnail">
          </div>

          <div class="carousel-item">
            <img src="/img/dell/5.png" class="img-thumbnail">
          </div>

          <div class="carousel-item">
            <img src="/img/dell/6.png" class="img-thumbnail">
          </div>
        </a>
      </div>

    </div>

  </div>

  <div class="widget-2">
    
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner">

        <a href="/laptops#hp">

          <div class="carousel-item active">
            <img src="/img/hp/15.png" class="img-thumbnail">
          </div>

          <div class="carousel-item">
            <img src="/img/hp/16.png" class="img-thumbnail">
          </div>

          <div class="carousel-item">
            <img src="/img/hp/17.png" class="img-thumbnail">
          </div>

          <div class="carousel-item">
            <img src="/img/hp/18.png" class="img-thumbnail">
          </div>

          <div class="carousel-item">
            <img src="/img/hp/19.png" class="img-thumbnail">
          </div>

        </a>

      </div>

    </div>

  </div>

  <div class="widget-3">
    
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner">

        <a href="/laptops#msi">

          <div class="carousel-item active">
            <img src="/img/msi/31.png" class="img-thumbnail">
          </div>

          <div class="carousel-item">
            <img src="/img/msi/32.png" class="img-thumbnail">
          </div>

          <div class="carousel-item">
            <img src="/img/msi/33.png" class="img-thumbnail">
          </div>

        </a>

      </div>

    </div>

  </div>

  <div class="widget-4">
    
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner">

        <a href="/laptops#lenovo">

          <div class="carousel-item active">
            <img src="/img/lenovo/24.png" class="img-thumbnail">
          </div>

          <div class="carousel-item">
            <img src="/img/lenovo/25.png" class="img-thumbnail">
          </div>

        </a>  

      </div>

    </div>

  </div>

  <div class="widget-5">

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner">

        <a href="/laptops#acer">

          <div class="carousel-item active">
            <img src="/img/acer/29.png" class="img-thumbnail">
          </div>

          <div class="carousel-item">
            <img src="/img/asus/13.png" class="img-thumbnail">
          </div>

        </a>

      </div>

    </div>

  </div>

</div>

<%- include ('partials/_footer') %>