<%- include ('partials/_header') %>

      <div class="_container">
            <br>
                  <h1>MANTENIMIENTO PREVENTIVO</h1>
            <br>
            
            <p>
                  Aquel que se le aplica a una PC para evitar futuros errores y problemas técnicos. Después de la Primera Guerra Mundial se planteó que el mantenimiento no solo tenía que corregir las averías, sino que tenía que adelantarse a ellas garantizando el correcto funcionamiento de las máquinas, evitando el retraso producido por las averías y sus consecuencias, dando lugar a lo que se denominó mantenimiento preventivo que es el que se hace, preventivamente en equipo en funcionamiento, en evicción de posteriores averías, garantizando un periodo de uso fiable.
            </p>

            <br>
                  <h1>¿QUÉ INCLUYE NUESTRO MANTENIMIENTO PREVENTIVO?</h1>
            <br>

            <p>
                  Realizamos su proyecto web desde cero. Según sus necesidades y gustos, adaptándonos a su imagen corporativa y utilizando nuestro sistema, con lo que no necesitará de terceros para actualizaciones o cambios en la página web.
            </p>

            <ul>
                  <li>Inventario de todas las computadoras y equipos de tecnología que posee.</li>
                  <li>Búsqueda y eliminación de virus del disco duro.</li>
                  <li>Actualización de licencias de software.</li>
                  <li>Búsqueda y corrección de errores lógicos y físicos en el disco, desfragmentar el disco.</li>
                  <li>Recuperación de datos y BackUp</li>
                  <li>Instalación de Software</li>
            </ul>

            <br>  
                  <h1>MANTENIMIENTO CORRECTIVO</h1>
            <br>
            
            <p>
                  Se denomina mantenimiento correctivo, aquel que corrige los defectos observados en los equipamientos o instalaciones, es la forma más básica de mantenimiento y consiste en localizar averías o defectos y corregirlos o repararlos.
                  <br>
                  Este mantenimiento que se realiza luego que ocurra una falla o avería en el equipo que por su naturaleza no pueden planificarse en el tiempo, presenta costos por reparación y repuestos no presupuestadas, pues implica el cambio de algunas piezas del equipo.
            </p>

            <br>
      <h1>¿QUÉ INCLUYE NUESTRO MANTENIMIENTO PREVENTIVO?</h1>
            </span>
            <br>
            <ul>
                  <li>Reparación de computadores ante cualquier imperfecto.</li>
                  <li>Recuperación de datos y BackUp.</li>
                  <li>Formateo de computadoras de escritorio y laptops.</li>
                  <li>Eliminación de virus.</li>
                  <li>Reemplazo de partes y piezas averiadas.</li>
            </ul>
      </div>
</div>

<%- include ('partials/_footer') %>