<%- include ('partials/_header') %>

<div class="_container" >
            <h1>¿QUIÉNES SOMOS?</h1>
      <p>
            RV Importaciones es una empresa comercializadora de productos y servicios tecnológicos con la mayor calidad dentro del mercado de la tecnología.
      </p>

      <br>
            <h1> MISION </h1>
      <p>
            Ofrecer productos tecnológicos e informáticos innovadores en las mejores marcas mundialmente reconocidas con calidad y garantía, complementando nuestra atención con el servicio técnico, satisfaciendo las necesidades y expectativas de nuestros clientes.
      </p>
      

      <br>
            <h1>VISION</h1>
      <p>
            Consolidarnos como la distribuidora #1 en la provincia en equipos de computación y productos tecnológicos, ser el proveedor preferido para las organizaciones públicas y privadas, para una mejor atención la instalación de sucursales en el cantón y la provincia.
      </p>

      <br>
            <h1>VALORES</h1>
      <p>
            Nuestros valores son los cuales nos distinguen y orientan para ser una empresa reconocida por la práctica diaria en la misma.
      </p>

      <ul>
            <li>Puntualidad</li>
            <li>Honestidad</li>
            <li>Eficiencia</li>
            <li>Responsabilidad</li>
            <li>Amabilidad</li>
      </ul>

      <br>
            <h1>¿CÓMO LO HACEMOS?</h1>
      <p>
            Ofrecemos Soporte técnico de Servidores, Pc´s, y Notebooks para empresas dentro y fuera de la ciudad. Actualmente, nuestros clientes tienen la seguridad y garantía, que, ante cualquier inconveniente técnico, cuentan con nuestros servicios de alta calidad en el momento requerido.
      </p>

      <ul>
            <li>Ingeniero en Sistema al servicio de la Empresa</li>
            <li>Visitas permanentes de acuerdo al convenio con la Empresa</li>
            <li>Asistencia telefónica permanente</li>
            <li>Soporte remoto para una solución inmediata.</li>
            <li>Atención a domicilio.</li>
      </ul>

      <br>
            <h1>GARANTÍA EN EL SERVICIO</h1>
      <p>
            Nuestra mejor garantía son los testimonios de nuestros clientes y el factor diferenciador con otras empresas. Debido a que los equipos de tecnología tienen cierta vida útil, no podemos garantizar su funcionamiento eterno.
            <br>
            Al consumir el servicio de mantenimiento de computadoras en nuestra empresa, usted no tendrá una sola persona ayudándole, si el técnico que le asiste no tiene la respuesta, tendrá el respaldo de un equipo de más de 5 personas con diferentes perfiles y experiencias en el área de la computación.
      </p>

      <div class="container">
            <div class="row">
                  <div class="col">
                        <div class="_card">
                              <img src="/img/soporte.jpeg" class="card-img-top">
                              <div class="card-body">
                                    <h5 class="card-title">SERVICIO TÉCNICO</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              </div>
                        </div>
                  </div>

                  <div class="col">
                        <div class="_card">
                              <img src="/img/images.jpg" class="card-img-top">
                              <div class="card-body">
                                    <h5 class="card-title">HELP DESK</h5>
                                    <p class="card-text">RV IMPORTACIONES, ofrece el servicio de mesa de ayuda en soporte de servicios tecnológicos específicos: </p>
                                          <ul style="text-align: left">
                                                <li>Soporte Ofimática.</li>
                                                <li>Servicios Office 365.</li>
                                                <li>Servicio de Servidores e Infraestructura.</li>
                                                <li>Servicios remotos de computadores (oficina y hogar).</li>
                                          </ul>
                                    <p class="card-text">Además, contamos con planes de soporte Anual- Outsoursing Ideal para la pequeña y mediana empresa.</p>
                              </div>
                        </div>
                  </div>
            </div>
      </div>

</div>

<%- include ('partials/_footer') %>